<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Seller Searcher App</title>
	<!-- Herramientas -->
	<script type="text/javascript" src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{css/main.css}" href="../static/css/main.css"/>
</head>

<body>

	<div class="container">

		<h2>NOT FOUND 😥</h2>

		<a href="./">Back</a>
	
	</div>
	
</body>

</html>